body {
    margin:10px auto 0 auto;
    padding:0px;
    width:100%;
    display:grid;
    max-width:900px;
    grid-template-areas: 
    "head head head head head head head head head head head head head head"
    "rule rule rule rule rule rule rule rule rule rule rule rule rule rule"
    "meat meat meat meat meat side side side side side side side side side"
    "foot foot foot foot foot foot foot foot foot foot foot foot foot foot"
    ;
    grid-template-columns: repeat(14, 1fr);
    grid-row-gap:10px;
    grid-column-gap:10px;
}

h1, h2, h3, p{
    font-family: Arial, Helvetica, sans-serif;
    color:#003768;
}

h1 {
    font-size:30px;
    padding:2px 0px;
    margin:5px auto;
}

h2 {
    font-size:22px;
    padding:5px 0;
    margin:5px auto;
}

h3 {
    font-size:20px;
    padding:5px 0;
    margin:5px auto;
}

p {
    font-size:18px;
    padding:5px 0;
    margin:0px auto;
}

header {
    grid-area: head;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.iconArea {
    font-size:8px;
    font-weight: 100;
    line-height: 18px;
    margin:0 auto;
    align-items: center;
    flex-direction: column;
}

.iconArea img {
    margin:0 auto;
    height:80px;
}

.iconArea h1 {
    font-size:13px;
    text-align:center;
    margin:20px 0 0 10px;
}

nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;

    margin:0;
    margin-block-start:0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

nav {
    margin:0 auto;
}


nav li {
    display:inline-block;
}

nav li {
    text-decoration:none;
    margin:10px 0 0 10px;
    color:white;
    padding:10px;
    background:rgb(7,60,108);
    transition: background-color .3s ease-in-out;
}

nav li a{
    color:white;
    text-decoration: none;
}

nav li:hover{
    transition: background-color .3s ease-in-out;
    background:rgb(178,116,14);
    cursor:pointer;
}

.rule {
    grid-area:rule;
    height:2px;
    background:rgb(7,60,108);
}

.information p{
    font-size:14px;
}

main {
    grid-area: meat;
    width:98%;
    margin:0 auto;
}

main section.bannerImg {
    width:100%;
    height:250px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-image:url('../imgs/city.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.bannerImg h1 {
    color:white;
    text-shadow: black 2px 3px 2px;
}


.actionButton{
    background:rgba(178,116,14,.9);;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    font-size:15px;
    text-align:center;
    width:50%;
    margin:10px;
}

.actionButton:hover {
    background:rgba(7,60,108,.9);
    cursor:pointer;
}

aside.asideCenter {
    grid-area: side;
}

.module {
    background:rgb(228, 228, 228);
    padding:10px 10px;
    margin:0px 0 10px 0;
}



/* FORMS */
#formWrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align:left;
    margin:0 0 20px 0;
}

.submitWrapper {
    margin:0 auto;
    width:100px;
}

.doubleFlex{
    display:flex;
    justify-content: space-around;
}

.asideCenter form #formcolumns section{
    display:flex;
    flex-direction:column;
    margin:10px;
}

.asideCenter form input[type=text] {
    border:rgb(7,60,108) solid 1px;
    padding:5px;
}

.asideCenter form textarea{
    border:rgb(7,60,108) solid 1px;
    margin:0 auto;
    width:70%;
    height:100px;
}

.asideCenter button {
    background:rgb(7,60,108);
    color:white;
    border:none;
    align-items: center;
    padding:10px;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.asideCenter button:hover {
    cursor:pointer;
    background:rgb(178,116,14);
}

#fileToUpload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
}

#uploadbutton {
    color:white;
    margin:10px 0;
    align-items: center;
    padding:10px;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(7,60,108);
}

#uploadbutton:hover {
    cursor:pointer;
    background:rgb(178,116,14);
}

aside.asideRight {
    grid-area: side2;
}

.asideRight ul, .asideCenter ul, main ul{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(7,60,108);
    margin-block-start: 5px;
    margin-block-end: 5px;
}

footer {
    color:white;
    grid-area: foot;
    background:rgb(7,60,108);
    padding:20px;
}

footer h1, footer h2, footer h3, footer p{
    color:white;
}

#photoCredit {
}